{% extends 'base.html' %}
{% load static %}
{% block mainarea %}


    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">聯絡我們</h1>
                        <ol class="breadcrumb">
                            <li><a href="/index">首頁</a></li>
                            <li class="active">聯絡我們</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="page-wrapper">
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-md-6 ">
                        <form id="contact-form" method="post" action="" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" placeholder="您的名字" class="form-control" name="name" id="name"
                                       required>
                            </div>

                            <div class="form-group">
                                <input type="email" placeholder="您的信箱" class="form-control" name="email" id="email"
                                       required>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="主旨" class="form-control" name="subject" id="subject"
                                       required>
                            </div>

                            <div class="form-group">
                                <textarea rows="6" placeholder="想對我們說什麼....." class="form-control" name="message"
                                          id="message" required></textarea>
                            </div>

                            <div id="mail-success" class="success">
                                Thank you. The Mailman is on His Way :)
                            </div>

                            <div id="mail-fail" class="error">
                                Sorry, don't know what happened. Try later :(
                            </div>

                            <div id="cf-submit">
                                <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                            </div>

                        </form>
                    </div>
                    <!-- ./End Contact Form -->

                    <!-- Contact Details -->
                    <div class="contact-details col-md-6 ">
                        <div class="google-map">
                            <div id="map"></div>
                        </div>
                        <ul class="contact-short-info">
                            <li>
                                <i class="tf-ion-ios-home"></i>
                                <span>南投縣草屯鎮</span>
                            </li>
                            <li>
                                <i class="tf-ion-android-phone-portrait"></i>
                                <span>電話: 096392828</span>
                            </li>
                            <li>
                                <i class="tf-ion-android-mail"></i>
                                <span>Email: tree8454@gmail.com</span>
                            </li>
                        </ul>
                        {% comment %}
					<!-- Footer Social Links -->
					<div class="social-icon">
						<ul>
							<li><a class="fb-icon" href="https://www.facebook.com/themefisher"><i class="tf-ion-social-facebook"></i></a></li>
							<li><a href="https://www.twitter.com/themefisher"><i class="tf-ion-social-twitter"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-googleplus-outline"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div>
					<!--/. End Footer Social Links -->
{% endcomment %}
                    </div>
                    <!-- / End Contact Details -->


                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>
{% endblock %}