{% extends 'base.html' %}
{% block mainarea %}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">常見問題</h1>
                    <ol class="breadcrumb">
                        <li><a href="/index">首頁</a></li>
                        <li class="active">FAQ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>常見問題</h2>
                <p>這裡是許多客戶會有的問題，或許這邊可以找的到您要的答案，也歡迎發送Mail問我們</p>
                <p>tree8454@gmail.com</p>
            </div>
            <div class="col-md-8">
                <h4>訂單問題</h4>
                <p>{{ faq.order_status }}</p>
                <h4>運送問題</h4>
                <p>{{ faq.shipping_delivery }}</p>
                <h4>付款方式</h4>
                <p>{{ faq.payment }}</p>
                <h4>退款與換貨</h4>
                <p>{{ faq.return_exchange }}</p>
                <h4>隱私權政策</h4>
                <p>{{ faq.privacy_policy }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}