{% extends 'member_base.html' %}

<body id="body">
{% load static %}
{% block mainarea %}

    <section class="forget-password-page account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                        <a class="logo" href="/index">
                            <img src="{% static 'images/logo.png'%}" alt="">
                        </a>
                        <h2 class="text-center">忘記密碼</h2>
                        <form class="text-left clearfix" method="post" action="">
                            {% csrf_token %}
                            <p>請輸入你的電子信箱，我們將會寄一封驗證信至您的信箱，這樣就可以幫你重設密碼了</p>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                       placeholder="輸入您的信箱">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-main text-center">密碼重設</button>
                            </div>
                        </form>
                        <p class="mt-20"><a href="/login">回到登入</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}