{% extends 'base.html' %}
{% load static %}
{% block mainarea %}
    <!-- Page Wrapper -->
    <section class="page-wrapper success-msg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                        <i class="tf-ion-android-checkmark-circle"></i>
                        <h2 class="text-center">付款成功</h2>
                        <p>感謝您的付款，訂單確認後會快速出貨</p>
                        <a href="/shop-sidebar" class="btn btn-main mt-20">繼續購物</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}